<html>
<head>
  <title>Database is Empty!</title>
</head>
<body>
<h1>empty</h1>
  <p>You haven't entered anything!</p>
<p>Maybe try <a href="{{ url_for("index") }}">the home page</a>?</p>
</body>
</html>
